.rdp-root{
    --rdp-accent-color:#238302;
}

.rdp-month{
    font-family:inherit;
}

.rdp-caption_label{
    font-weight:600;
    font-size:16px;
}

.rdp-day_selected{
    background:#238302 !important;
    color:white !important;
    border-radius:9999px;
}

.rdp-day:hover{
    background:#EAF5E7;
    border-radius:9999px;
}

.rdp-chevron{
    fill:#555;
}

.rdp-weekday{
    font-size:11px;
    color:#999;
}

.rdp-day{
    width:36px;
    height:36px;
}