@import "tailwindcss";

@theme {
  --color-primary: #238302;
  --color-primary-hover: #289702;
  --color-primary-soft: rgba(35, 131, 2, 0.1);

  --color-orange: #fe8507;
  --color-orange-soft: rgba(254, 133, 7, 0.1);

  --color-yellow: #fcb212;
  --color-yellow-soft: rgba(252, 178, 18, 0.1);

  --color-danger: #ff0000;
  --color-danger-soft: rgba(255, 0, 0, 0.1);

  --color-black: #101010;
  --color-white: #fefefe;
  --color-dark-gray: #787878;
  --color-soft-gray: #f9f9f9;
  --color-border: #e8e8e8;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--color-white);
  color: var(--color-black);
}